

.runkit-placeholder {
  margin-left: 50%;
  width: 50%;
  right: 0px;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.33);
}

.runkit-start {
  right: 30px;
  position: absolute;
}

.runkit-close {
  border-bottom: dashed 1px #333;
  text-decoration: none;
  color: #660000; // #f92672;
  right: 20px;
  font-size: 15.5px;
  font-weight: 500;
  position: fixed;

  &:link {
    color: #660000; // #f92672;
  }
  &:hover {
    color: #CC0000;
  }
}
