{
  "sourceMaps": "inline",
  "retainLines": true,
  "presets": [
    [
      "env",
      {
        "debug": true,
        "modules": false,
        "useBuiltIns": true,
        "targets": {
          "browsers": [">= 3%"]
        }
      }
    ]
  ],
  "plugins": [
    ["transform-es2015-computed-properties", {
      "loose": true
    }]
  ]
  /* "plugins": ["transform-es2015-modules-commonjs", "babel-plugin-transform-runtime"] */
}
