{
  "extends": [
    "plugin:react/recommended",
    "prettier",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "modules": true,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "semi": [ "error", "never" ],
    "comma-dangle": [ "error", "always-multiline" ],
    "max-len": [ "error", { "code": 150, "tabWidth": 2, "ignoreComments": true, "ignoreUrls": true } ],
    "handle-callback-err": [ 2, "^(err|error)$" ],
    "quotes": [ 2, "single", { "allowTemplateLiterals": true, "avoidEscape": true } ],
    "indent": [ "error", 2, { "ignoredNodes": [ "ConditionalExpression" ], "ignoreComments": true, "MemberExpression": 1, "ArrayExpression": "first", "ObjectExpression": "first" } ], "key-spacing": [2, { "mode": "minimum" }]
  }
}